.ErrorMessage{
    color: red;
}
label.ErrorMessage{
    width: 220px;
    color: red;
    font-size: 0.8em;
    float: right;
}

.SignUpForm{
    margin-left: auto;
    margin-right: auto;
    width: 650px; /* largeur obligatoire pour être centré */
}
.Insc-label {
    display: block;
    width: 220px;
    float: left;
}
